.about {
  margin: 100px 0;
}


.about__divider {
  content: '';
  right: 0;
  /* bottom: -150px; */
  /* left: 50%; */
  /* transform: translate(-50%, 0); */
  background-repeat: no-repeat;
  width: 100%;
  height: 58px;
  background-image: url('~@/assets/img/lottery-divider.svg');
  width: 100%;
  background-size: contain;
  margin: 100px auto 0;
}