.about {
  margin: 100px 0;

  @media (max-width: $tablets-max) {
    margin: 20px 0;
  }

  @media (max-width: $mobiles-max) {
    margin: 40px 0;
  }
}


.about__divider {
  content: '';
  right: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 58px;
  background-image: url('~@/assets/img/lottery-divider.svg');
  width: 100%;
  background-size: contain;
  margin: 100px auto 0;
  background-position: center;

  @media (max-width: $tablets-max) {
    margin: 20px auto 0;
  }

  @media (max-width: $mobiles-max) {
    background-image: url('~@/assets/img/lottery-divider-mob.svg');
    height: 20px;
    margin: 28px auto 0;
  }
}