.banner {
  background-image: url('~@/assets/img/banner-min.jpg');
  // min-height: 110vh;
  // max-height: 1080px;
  min-height: 1080px;
  background-position: center;
  // background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1920px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: $transition-settings;

  display: block;
  margin: 0 auto;
  width: 100%;

  margin-top: -200px;

  @media (min-width: 1921px) {
    max-width: 100%;
    height: 100vh;
  }

  @media (max-width: 1600px) {
    margin-top: -250px;
    // min-height: 900px;
  }

  @media (max-width: 1399px) {
    margin-top: -250px;
    // min-height: 800px;
  }

  @media (max-width: 1100px) {
    margin-top: -250px;
    // min-height: 700px;
    background-position: center;
  }

  @media (max-width: $tablets-max) {
    min-height: 500px;
    margin-top: 0;
  }

  @media (max-width: 600px) {
    margin-top: -150px;
  }
}

.banner__mint {
  position: absolute;
  content: '';
  width: 14vw;
  height: 35vh;
  left: 22.5%;
  transition: $transition-settings;
  opacity: 0;
  @include adb(top, 690, 580);
  min-height: 295px;

  @media (min-width: 1920px) {
    width: 270px;
  }

  @media (min-width: 1921px) {
    width: 280px;
    left: 24vw;
    top: 66vh;
  }

  @media (max-width: 949px) {
    @include adb(top, 390, 270);
    left: 22.5%;
    height: 18vh;
  }

  @media (max-width: $tablets-max) {
    @include adb(top, 390, 270);
    left: 24.5%;
    height: 18vh;
  }

  @media (max-width: $mobiles-max) {
    left: 22.5%;
  }

  @media (max-width: 600px) {
    height: 11vh;
  }

  &:hover {
    background-repeat: no-repeat;
    background-image: url('~@/assets/img/mint-min.png');
    background-size: contain;
    opacity: 1;
  }
}

.banner__about {
  position: absolute;
  content: '';
  width: 17.5vw;
  height: 35vh;
  top: 640px;
  left: 37.5%;
  min-height: 330px;
  transition: $transition-settings;
  opacity: 0;

  @media (min-width: 1920px) {
    width: 340px;
  }

  @media (min-width: 1921px) {
    width: 350px;
    top: 62vh;
    left: 39vw;
  }

  @include adb(top, 630, 560);

  @media (max-width: $tablets-max) {
    @include adb(top, 390, 240);
    height: 17vh;
  }

  @media (max-width: $mobiles-max) {
    @include adb(top, 390, 245);
  }

  @media (max-width: 600px) {
    @include adb(top, 390, 255);

    height: 13vh;
  }

  @media (max-width: 400px) {
    @include adb(top, 390, 260);
  }

  &:hover {
    background-repeat: no-repeat;
    background-image: url('~@/assets/img/about-min.png');
    background-size: contain;
    opacity: 1;
  }
}

.banner__roadmap {
  position: absolute;
  content: '';
  width: 31vw;
  height: 53vh;
  left: 50%;
  transition: $transition-settings;
  opacity: 0;
  @include adb(top, 600, 600);
  min-height: 494px;

  @media (min-width: 1920px) {
    width: 587px;
  }

  @media (min-width: 1921px) {
    top: 62vh;
    width: 580px;
    left: 50.5vw;
  }

  @media (max-width: 1199px) {
    @include adb(top, 600, 570);
  }

  @media (max-width: $tablets-max) {
    @include adb(top, 600, 50);
    height: 17vh;
    width: 27vw;
    min-width: 270px;
    min-height: 300px;
  }

  @media (max-width: 999px) {
    top: 280px;
    height: 17vh;
    width: 27vw;
    min-width: 270px;
    min-height: 270px;
  }

  @media (max-width: 899px) {
    top: 280px;
    height: 13vh;
    width: 31vw;
    min-width: 200px;
    min-height: 220px;
  }

  @media (max-width: 699px) {
    top: 270px;
    min-width: 150px;
    min-height: 180px;
  }

  @media (max-width: 499px) {
    top: 270px;
    min-width: 100px;
    min-height: 120px;
  }

  &:hover {
    background-repeat: no-repeat;
    background-image: url('~@/assets/img/roadmap-min.png');
    background-size: contain;
    opacity: 1;
  }
}

.banner__team {
  position: absolute;
  content: '';
  width: 15vw;
  right: -2%;
  transition: $transition-settings;
  opacity: 0;
  min-height: 255px;
  height: 16vh;
  right: -10px;
  opacity: 0;

  @include adb(top, 800, 600);

  @media (min-width: 1920px) {
    width: 340px;
    right: -5%;
  }

  @media (min-width: 1921px) {
    width: 360px;
    right: -2vw;
    height: 22vh;
    top: 74vh;
  }

  @media (max-width: $tablets-max) {
    @include adb(top, 390, 340);
    width: 12vh;
    right: 5%;
    min-width: 145px;
  }

  @media (max-width: 999px) {
    right: 4%;
    min-width: 120px;
  }

  @media (max-width: 949px) {
    right: 1%;
  }

  @media (max-width: 899px) {
    right: 0.5%;
  }

  @media (max-width: $mobiles-max) {
    @include adb(top, 390, 320);
    width: 8vh;
    min-height: 200px;
    right: 0.25%;
  }

  @media (max-width: 600px) {
    @include adb(top, 390, 300);
    width: 6vh;
    min-height: 185px;
    height: 13vh;
    min-width: 80px;
  }

  @media (max-width: 400px) {
    min-width: 50px;
  }

  &:hover {
    background-repeat: no-repeat;
    background-image: url('~@/assets/img/team-min.png');
    background-size: contain;
    opacity: 1;
  }
}