.banner {
  background-image: url('~@/assets/img/banner.jpg');
  min-height: 1080px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1920px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: $transition-settings;

  display: block;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1399px) {
    margin-top: -200px;
  }

  @media (max-width: $tablets-max) {
    min-height: 500px;
    margin-top: 0;
  }

  @media (max-width: 600px) {
    margin-top: -150px;
  }
}

.banner__mint {
  position: absolute;
  content: '';
  width: 14vw;
  height: 34vh;
  // top: 690px;
  left: 22.5%;
  transition: $transition-settings;
  opacity: 0;
  @include adb(top, 690, 580);

  @media (max-width: 949px) {
    @include adb(top, 390, 270);
    left: 22.5%;
    height: 18vh;
  }

  @media (max-width: $tablets-max) {
    @include adb(top, 390, 270);
    left: 24.5%;
    height: 18vh;
  }

  @media (max-width: $mobiles-max) {
    left: 22.5%;
  }

  @media (max-width: 600px) {
    height: 11vh;
  }

  &:hover {
    background-repeat: no-repeat;
    background-image: url('~@/assets/img/mint.png');
    background-size: contain;
    opacity: 1;
  }
}

.banner__about {
  position: absolute;
  content: '';
  width: 17.5vw;
  height: 35vh;
  top: 640px;
  left: 37.5%;
  transition: $transition-settings;
  opacity: 0;

  @include adb(top, 690, 600);

  @media (max-width: $tablets-max) {
    @include adb(top, 390, 300);
  }

  &:hover {
    background-repeat: no-repeat;
    background-image: url('~@/assets/img/about.png');
    background-size: contain;
    opacity: 1;
  }
}

.banner__roadmap {
  position: absolute;
  content: '';
  width: 31vw;
  height: 53vh;
  top: 620px;
  left: 50%;
  transition: $transition-settings;
  opacity: 0;

  @include adb(top, 690, 600);

  @media (max-width: $tablets-max) {
    @include adb(top, 390, 300);
  }

  &:hover {
    background-repeat: no-repeat;
    background-image: url('~@/assets/img/roadmap.png');
    background-size: contain;
    opacity: 1;
  }
}

.banner__team {
  position: absolute;
  content: '';
  width: 15vw;
  height: 29vh;
  top: 795px;
  right: -2%;
  transition: $transition-settings;
  opacity: 0;

  @include adb(top, 690, 600);

  @media (max-width: $tablets-max) {
    @include adb(top, 390, 300);
  }

  &:hover {
    background-repeat: no-repeat;
    background-image: url('~@/assets/img/team.png');
    background-size: contain;
    opacity: 1;
  }
}
