.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  outline: none !important;
  border: none;
  transition: $transition-settings;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'Macondo', sans-serif;
  background: none;

  &--connect {
    background: $color-red;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    width: 231px;
    padding: 8px 0;

    transition: $transition-settings;

    @media (max-width: 1499px) {
      width: 195px;
    }

    @media (max-width: $mobiles-max) {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
    }

    &:hover {
      background: $color-black;
      border: 3px solid $color-red;
    }

    &:active {
      background: $color-gold;
      border: 3px solid transparent;
    }

    &:disabled {
      background: #3c3c3c;
      color: #686868;
      border: 3px solid transparent;
    }
  }

  &--toggle {
    width: 33px;
    position: absolute;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-settings;
    right: 20px;
    top: 35px;
    padding: 0;
    z-index: 3;

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 33px;
      background-color: $color-default-white;
      transform: rotate(45deg);
      transition: $transition-settings;
    }

    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 33px;
      background-color: $color-default-white;
      transform: rotate(-45deg);
      transition: $transition-settings;
    }

    @media (max-width: 1499px) {
      right: 15px;
    }

    @media (max-width: $tablets-max) {
      right: 5.5%;
      top: 28px;
    }

    @media (max-width: $mobiles-max) {
      right: 22px;
    }

    &.close {
      &:before {
        visibility: hidden;
        opacity: 0;
      }

      &:after {
        visibility: hidden;
        opacity: 0;
      }
    }

    @media (min-width: $tablets-max) {
      display: none;
    }

    @media (max-width: $tablets-max) {
      display: flex;
    }
  }

  &--minting-counter {
    width: 60px;
    height: 60px;
  }

  &--minting {
    padding: 15px 0;
    background: $color-red;
    font-family: 'Macondo', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    width: 346px;
    border: 3px solid transparent;

    @media (max-width: $tablets-max) {
      padding: 0;
    }

    @media (max-width: $mobiles-max) {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

      padding: 10px 0;

      width: 180px;
    }

    &:hover {
      background: $color-black;
      border: 3px solid $color-red;
    }

    &:active {
      background: $color-gold;
      border: 3px solid transparent;
    }

    &:disabled {
      background: #3c3c3c;
      color: #686868;
      border: 3px solid transparent;
    }
  }

  &--error {
    background: $color-red;
    font-family: 'Macondo', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;

    padding: 5px 0;
    width: 255px;

    margin: 0 auto;
    text-align: center;
    border: 3px solid transparent;
    color: $color-default-white;

    @media (max-width: $tablets-max) {
      padding: 0;
    }

    @media (max-width: $mobiles-max) {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

      padding: 10px 0;

      width: 180px;
    }

    &:hover {
      background: $color-black;
      border: 3px solid $color-red;
      color: $color-default-white !important;
    }

    &:active {
      background: $color-gold;
      border: 3px solid transparent;
    }

    &:disabled {
      background: #3c3c3c;
      color: #686868;
      border: 3px solid transparent;
    }
  }

  &--close-modal {
    position: absolute;
    content: '';
    width: 35px;
    height: 30px;
    top: 40px;
    right: 30px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: $tablets-max) {
      top: 60px;
      right: 25px;
    }

    @media (max-width: 999px) {
      top: 70px;
      right: 25px;
    }

    @media (max-width: 899px) {
      top: 80px;
      right: 25px;
    }

    @media (max-width: 699px) {
      top: 55px;
      right: 20px;
    }

    @media (max-width: 370px) {
      right: 10px;
    }
  }
}