.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  outline: none !important;
  border: none;
  transition: $transition-settings;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'Macondo', sans-serif;
  background: none;

  &--connect {
    background: $color-red;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    width: 231px;
    padding: 8px 0;

    transition: $transition-settings;

    @media (max-width: $mobiles-max) {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
    }

    &:hover {
      background: $color-hover-red;
    }

    &:active {
      background: $color-active-red;
    }
  }

  &--minting-counter {
    width: 60px;
    height: 60px;
  }

  &--minting {
    padding: 15px 0;
    background: $color-red;
    font-family: 'Macondo', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    width: 346px;
  }

  // .icon {
  //   stroke: $color-white;
  //   transition: $transition-settings;
  // }

  &:hover {
    p {
      color: $color-black;
    }
  }
}
