.faq {
  margin-top: 35px;
}

.faq__text {
  margin-bottom: 21px;

  @media (max-width: $mobiles-max) {
    margin-bottom: 16px;
  }
}

.faq__texts {
  margin-top: 103px;

  @media (max-width: $mobiles-max) {
    margin-top: 66px;
  }
}

.faq__item {
  display: flex;
  align-items: baseline;

  padding-bottom: 26px;

  border-bottom: 1px solid #272727;

  margin-bottom: 21px;

  @media (max-width: $mobiles-max) {
    margin-bottom: 16px;
  }

  &:last-of-type {
    border-bottom: none;
  }

  p {
    width: 30%;
    margin-right: 4%;
    margin-bottom: 0;
    font-weight: 700;

    @media (max-width: $mobiles-max) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  span {
    width: 66%;

    @media (max-width: $mobiles-max) {
      width: 100%;
    }
  }

  @media (max-width: $mobiles-max) {
    flex-direction: column;
  }
}

.faq__title {
  @media (max-width: $mobiles-max) {
    display: none;
  }
}

.faq__info {
  @media (max-width: $mobiles-max) {
    margin-top: 28px;
  }
}