header {
  transition: $transition-settings;
  width: 100%;
  z-index: 50;
  // transform: translateY(0);
  // position: fixed;

  @media (max-width: $tablets-max) {
    background-color: $color-default-white;
  }
}

.header__logo {
  width: 76px;
  height: 76px;

  margin-right: 60px;
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 30px 0;
}

.header__socials {
  margin-right: 22.25%;

  width: 19.75%;
  display: flex;
  align-items: center;
}

.header__sections {
  width: 57.5%;
  display: flex;
  align-items: center;
}

.header__social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header__social-link {
  height: 100%;
  display: block;
}

.header__content-links {
  width: 72.5%;
  justify-content: space-between;
  display: flex;
  margin-right: 5.5%;
}

.header__content-link {
  font-family: 'Macondo', sans-serif;
  color: $color-light-gray;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
}
