.minting {
  position: relative;
  min-height: 295px;
  // border-top: 4px solid #ffffff;
  // border-bottom: 4px solid #ffffff;
  // background-image: url('~@/assets/img/frame.png');

  background-repeat: no-repeat;
  background-size: auto;
  font-family: 'Macondo', sans-serif;
  background-position: top center;

  margin-top: 20px;

  @media (max-width: 1399px) {
    margin-top: 0;
  }

  @media (max-width: $tablets-max) {
    margin-top: 20px;
  }

  @media (max-width: $mobiles-max) {
    background-image: url('~@/assets/img/frame-mobile.png');
    background-size: inherit;
  }

  @media (max-width: 370px) {
    background-size: contain;
  }
}

.minting__texts {
  font-family: 'Macondo', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
  display: flex;
}

.minting__inner {
  margin: 0 auto;
  // display: block;
  // width: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  position: relative;

  @media (max-width: $mobiles-max) {
    padding: 30px 0;
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    /* top: 0; */
    width: 94%;
    height: 3px;
    background-color: $color-light-gray;
    border-radius: 5px;
    background-repeat: no-repeat;
    top: 12px;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: $mobiles-max) {
      display: none;
    }

    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }

  &:after {
    position: absolute;
    content: '';
    left: 0;
    /* top: 0; */
    width: 94%;
    height: 3px;
    background-color: $color-light-gray;
    border-radius: 5px;
    background-repeat: no-repeat;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);

    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    @media (max-width: $mobiles-max) {
      display: none;
    }
  }

  @media (max-width: $tablets-max) {
    width: 100%;
  }
}

.minting__body {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    background-image: url('~@/assets/img/mint-frame-before.svg');
    left: 0;
    top: 0;
    width: 25px;
    height: 294px;

    @media (max-width: $mobiles-max) {
      display: none;
    }
  }

  &:after {
    position: absolute;
    content: '';
    background-image: url('~@/assets/img/mint-frame-after.svg');
    right: 0;
    top: 0;
    width: 25px;
    height: 294px;

    @media (max-width: $mobiles-max) {
      display: none;
    }
  }
}

.minting__divider {
  content: '';
  right: 0;
  /* bottom: -150px; */
  /* left: 50%; */
  /* transform: translate(-50%, 0); */
  background-repeat: no-repeat;
  width: 100%;
  height: 58px;
  background-image: url('~@/assets/img/minting-divider.svg');
  width: 100%;
  margin: 90px auto 0;
  background-size: contain;
  background-position: center;

  @media (max-width: $tablets-max) {
    margin: 20px auto 0;
  }

  @media (max-width: $mobiles-max) {
    background-image: url('~@/assets/img/minting-divider-mob.svg');
    height: 22px;
    margin: 58px auto 0;
  }
}

.minting__counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;

  p {
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;

    @media (max-width: $mobiles-max) {
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
    }
  }
}

.minting__buttons {
  display: flex;
  align-items: center;
  margin-top: 14px;
  justify-content: space-between;

  @media (max-width: $tablets-max) {
    flex-direction: column;
    margin-top: 0;
  }
}

.minting__current {
  @media (max-width: $mobiles-max) {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.minting__total {
  @media (max-width: $mobiles-max) {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
}
